<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form th:action="@{/updateUser}" method="post">
   <input type="hidden"  name="userid" th:field="${user.userid}"> <br>
    用户名：<input type="text" name="username" th:field="${user.username}"> <br>
    用户年龄：<input type="text" name="userage" th:field="${user.userage}"> <br>
    用户性别：<input type="text" name="usersex" th:field="${user.usersex}"> <br>
    用户地址：<input type="text" name="useraddress" th:field="${user.useraddress}"> <br>
    <input type="submit" value="提交">
</form>

</body>
</html>